body {
  font-family: sans-serif;
}
input {
  border-radius: 16px;
  boder: none;
  padding: 6px 16px;
  outline: none;
}

button {
  border-radius: 16px;
  border: none;
  paddind: 4px 16px;
  margin-right: 4px;
}

button:hover {
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer;
}

.input-area {
  background-color: #c1ffff;
  width: 400px;
  padding: 8px;
  margin: 8px;
  border-radius: 10px;
}

.incomplete-area {
  background-color: #c6ffe2;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 10px;
}

.complete-area {
  background-color: #e2e218;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 10px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  columns: #666;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

li {
  margin-right: 8px;
}
